# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# my bin files from go build
agent/agent
orchestrator/orchestrator
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
#dunno who this is but get ignored
.DS_Store
# i mean you dont have to but why not
*.sum

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
# go.work
# ^ i'd rather have it included, will exclude if it is not really needed
